@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  width: 100%;
  user-select: none;
  background: #f1f1f1;
}
#__next {
  height: 100%;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.15rem;
  height: 0.15rem;
}
::-webkit-scrollbar-track {
  background: #23eee2;
}
::-webkit-scrollbar-thumb {
  background: #b05883;
}
@media screen and (min-width: 300px) {
  * {
    font-size: 12px;
  }
}
@media screen and (min-width: 600px) {
  * {
    font-size: 14px;
  }
}
@media screen and (min-width: 900px) {
  * {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  * {
    font-size: 18px;
  }
}
